@import url("colors.css");

*,
*:before,
*:after
{
	background: none;
	border: 0;
	color: inherit;
	font-family: inherit;
	hyphens: auto;
	margin: 0;
	outline: 0;
	padding: 0;
	text-decoration: none;
    box-sizing: inherit;
}

[data-color-scheme="dark"]
{
  display: none;
}

:root
{
	--base-color: var(--base-color-light);
    --text-color: var(--text-color-light);
	--accent-color: var(--accent-color-light);
	background: var(--base-color);
    box-sizing: border-box;
	color: var(--text-color);
	font-family: sans-serif;
	font-size: calc(1rem + .5vw);
	overflow: hidden;
	scroll-behavior: smooth;
}

#not-supported
{
  background: #ffffff;
  display: table;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#not-supported *
{
  color: #000000;
  display: table-cell;
  font-size: 2rem;
  text-align: center;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
a
{
    color: var(--accent-color);
}

img {
	object-fit: contain;
	object-position: center;
	min-width: 0;
	min-height: 0;
	max-width: 100%;
	max-height: 100%;
}

input,
textarea,
button
{
    border-radius: .25rem;
    padding: .5rem;
}

input,
textarea
{
    border: .125rem solid var(--accent-color);
}

button
{
    background: var(--accent-color);
    color: var(--base-color);
}

input:hover,
input:focus,
textarea:hover,
textarea:focus,
button:hover,
button:focus,
a:hover,
a:focus
{
    opacity: .75;
}

@media screen and (prefers-color-scheme: dark)
{
    :root
    {
        --base-color: var(--base-color-dark);
	    --text-color: var(--text-color-dark);
	    --accent-color: var(--accent-color-dark);
    }

    [data-color-scheme="light"]
    {
        display: none;
    }

    [data-color-scheme="dark"]
    {
        display: unset;
    }
}

@media screen and (hover: none) and (pointer: coarse)
{
    *
    {
        cursor: default;
    }
}

@supports (display: flex) and (--css: variable)
{
    :root
    {
		overflow: auto;
	}

    #not-supported
    {
        display: none;
    }

    #not-supported *
    {
        display: none;
    }
}
