@import url('variables.css');

*,
*:before,
*:after
{
	background: none;
	border: 0;
	color: inherit;
	font-family: inherit;
	hyphens: auto;
	margin: 0;
	max-width: 100%;
	min-height: 0;
	min-width: 0;
	outline: 0;
	padding: 0;
    box-sizing: inherit;
    text-decoration: none;
}

:root
{
	--base-color: var(--base-color-light);
    --text-color: var(--text-color-light);
	--accent-color: var(--accent-color-light);
	background: var(--base-color);
	color: var(--text-color);
	font-family: var(--font);
	font-size: calc(1rem + .5vw);
	overflow: hidden;
	scroll-behavior: smooth;
    box-sizing: border-box;
}

#outdated-browser
{
  background: #ffffff;
  color: #000000;
  display: block;
  font: sans-serif;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

[data-color-scheme='dark']
{
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a
{
    color: var(--accent-color);
}

img
{
    max-height: 100%;
	object-fit: contain;
	object-position: center;
}

input,
textarea,
button
{
    border-radius: var(--small-feature);
    font-size: .75rem;
    padding: var(--medium-feature);
}

input,
textarea
{
    border: var(--tiny-feature) solid var(--accent-color);
}

button
{
    background: var(--accent-color);
    color: var(--base-color);
}

input:hover,
input:focus,
textarea:hover,
textarea:focus,
button:hover,
button:focus,
a:hover,
a:focus
{
    opacity: .75;
}

table
{
    border-collapse: collapse;
    display: block;
    overflow: auto;
}

th,
td
{
    border: var(--tiny-feature) solid var(--accent-color);
    padding: var(--medium-feature);
}

th
{
    background: var(--accent-color);
    color: var(--base-color);
}

@media screen and (prefers-color-scheme: dark)
{
    :root
    {
        --base-color: var(--base-color-dark);
	    --text-color: var(--text-color-dark);
	    --accent-color: var(--accent-color-dark);
    }

    [data-color-scheme='light']
    {
        display: none;
    }

    [data-color-scheme='dark']
    {
        display: initial;
    }
}

@media screen and (hover: none) and (pointer: coarse)
{
    *
    {
        cursor: default;
    }
}


@supports (display: flex) and (--variable: 1px) and (--calc: calc(1px + 1px)) and (--min: min(1px, 1px)) and (--max: max(1px, 1px)) and (--clamp: clamp(1px, 1px, 1px)) and selector(:not(:root)) and selector(:is(:root))
{
    :root
    {
		overflow: auto;
	}
    #outdated-browser
    {
        display: none;
    }
}
