:root
{
    --base-color-light: #fff;
    --base-color-dark: #1b1d20;
    --text-color-light: #1b1d20;
    --text-color-dark: #fff;
    --accent-color-light: #1b1d20;
    --accent-color-dark: #fff;
}
