@import url('base.css');

:root {
    padding: var(--giant-feature);
}

header,
article,
footer {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
}

header,
article {
    margin: 0 0 var(--large-feature) 0;
}

:is(header, article) > :not(:last-child) {
    margin: 0 0 var(--medium-feature) 0;
}

nav {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: calc(-1 * var(--small-feature));
}

nav > * {
    margin: var(--small-feature);
}