@import url("base.css");

body > *
{
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
}

body > * > *
{
    flex: auto 0 0;
    margin: .25rem 0;
}

